@using WebTools.Demo.Controllers
@model WebTools.Demo.Models.HomeModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@(Html.OpenForm<HomeController>(c => c.Save(null), FormMethod.Post).Class("test-class"))

    @(Html.Hidden(m => m.Name).Id("testid").Class("testclass"))

    @(Html.CheckBox(m => m.Item).Disabled(true).Id("checkbox-id").Class("checkbox-class"))

@Html.CloseForm()

@(Html.ActionLink<HomeController>(c => c.Land(), "Go to Land").Id("test-id").Class("test-class").Target(WebTools.Enums.ActionTarget.Blank))
