@model WebTools.Demo.Models.HomeModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@(Html.OpenForm<WebTools.Demo.Controllers.HomeController>(c => c.Save(null), FormMethod.Post).Class("test-class"))

    @(Html.Hidden(m => m.Name).Id("testid").Class("testclass"))

    @(Html.CheckBox(m => m.Item).Disabled(true).Id("checkbox-id").Class("checkbox-class"))

    @Html.ActionLink("test redirect", "Go")

@Html.CloseForm()
